<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="css/adminlte.min.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">   
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <div class="container">

        <h3>Bus List</h3>
        
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Bus No</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Start Time</th>
                <th scope="col">Reach Time</th>
                <th scope="col">Driver</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <% bus.forEach((b)=> { %>
                    <th scope="row"><%= b.bus_no %></th>
                    <td><%= b.start %></td>
                    <td><%= b.end %></td>
                    <td><%= b.start_time %></td>
                    <td><%= b.reach_time %></td>
                    <td><%= b.driver %></td>
                    <td>
                        <a href='/apply<%-b.id%>'><button class="btn btn-info">Apply</button></a>
                        
                        <!-- <button class="btn btn-info">Edit</button> -->
                    </td>
              </tr>
                <% }) %>
              <tr>
                
            </tbody>
          </table>
          <a href="/"> Back to home</a> <br>
          <a href="/logout"> Logout</a>
        <!-- /.row -->
      </div><!-- /.container-fluid -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="js/adminlte.min.js"></script>
<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
